html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  background: linear-gradient(to right, #09123B, #200C47);
}

@font-face {
  font-family: 'Bariol';
  src: url('/assets/fonts/Bariol_Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bariol';
  src: url('/assets/fonts/Bariol_Thin_Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bariol';
  src: url('/assets/fonts/Bariol_Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bariol';
  src: url('/assets/fonts/Bariol_Light_Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bariol';
  src: url('/assets/fonts/Bariol_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bariol';
  src: url('/assets/fonts/Bariol_Regular_Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bariol';
  src: url('/assets/fonts/Bariol_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bariol';
  src: url('/assets/fonts/Bariol_Bold_Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Bariol', Roboto, Arial, sans-serif;
}
